<div class="item">
        <div>Avatar URL</div>
        <div>
            <input type="url" name="avatar_url" placeholder="http://" value="{{member.avatar_url}}">
        </div>
    </div>

    
    <div class="item">
        <div>Nome</div>
        <div>
            <input type="text" name="name" placeholder="" value="{{member.name}}">
        </div>
    </div>

     <div class="item">
        <div>E-mail</div>
        <div>
            <input type="email" name="email" placeholder="" value="{{member.email}}">
        </div>
    </div>

    <div class="item">
        <div>Data de Nascimento</div>
        <div>
            <input type="date" name="birth" value="{{member.birth}}">
        </div>
    </div>

    <div class="item">
        <div>Sexo</div>
        <div>
            <span>
                <input 
                    type="radio" 
                    name="gender" 
                    value="M" 
                    {% if instructor.gender=='M' %}
                        checked
                    {% endif %}>Masculino
            </span>
            <span>
                <input 
                type="radio" 
                name="gender" 
                value="F" 
                {% if instructor.gender=='F' %}
                    checked
                {% endif %}>Feminino
            </span>
        </div>
    </div>

    <div class="item">
        <div>Tipo Sanguíneo</div>
        <div>
            <select name="blood" >
                <option value="A+"{% if member.blood == "A+" %}selected{% endif %}>
                    A+
                </option>
                <option value="A-"{% if member.blood == "A-" %}selected{% endif %}>
                    A-
                </option>
                <option value="B+"{% if member.blood == "B+" %}selected{% endif %}>
                    B+
                </option>
                <option value="B-"{% if member.blood == "B-" %}selected{% endif %}>
                    B-
                </option>
                <option value="AB+" {% if member.blood == "AB+" %}selected{% endif %}>
                    AB+
                </option>
                <option value="AB-" {% if member.blood == "AB-" %}selected{% endif %}>
                    AB-
                </option>
                <option value="O+"{% if member.blood == "O+" %}selected{% endif %}>
                    O+
                </option>
                <option value="O-"{% if member.blood == "O-" %}selected{% endif %}>
                    O-
                </option>
            </select>
        </div>
    </div>

    <div class="item">
        <div>Endereço</div>
        <div>
            <input type="text" name="address" placeholder="Endereço" value="{{member.address}}">
        </div>
    </div>
    
    <div class="item">
        <div>Telefone</div>
        <div>
            <input type="tel" name="phone" placeholder="Tel" value="{{member.phone}}">
        </div>
    </div>

    <div class="item">
        <div>Documentos</div>
        <div class="documents">
            <input type="number" name="rg" placeholder="RG" value="{{member.rg}}">
            <input type="number" name="cpf" placeholder="CPF" value="{{member.cpf}}">
        </div>
    </div>

    <button type="submit">Salvar</button>